<p id="notice"><%= notice %></p>

<p>
  <strong>Propertyname:</strong>
  <%= @property.propertyname %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @property.rent %>
</p>

<p>
  <strong>:</strong>
  <%= @property. %>
</p>

<p>
  <strong>Buildingage:</strong>
  <%= @property.buildingage %>
</p>

<p>
  <strong>:</strong>
  <%= @property. %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @property.adress %>
</p>

<p>
  <strong>:</strong>
  <%= @property. %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @property.remark %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
