<p id="notice"><%= notice %></p>

<p>
  <strong>Propertyname:</strong>
  <%= @property.propertyname %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @property.rent %>
</p>
<p>
  <strong>Buildingage:</strong>
  <%= @property.buildingage %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @property.adress %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @property.remark %>
</p>

<hr>
<% @properties.places.each  do |form|  %>
<p>
  <strong>railway name:</strong>
  <%form.railwayname %>
</p>

<p>
  <strong>station name:</strong>
  <% form.stationname %>
</p>

  <strong>duration:</strong>
  <% form.duration %>
</p>

<% end %>
<%= link_to 'Edit', edit_property_path(@property) %>
<%= link_to 'Back', properties_path %>
